Repository iTalantaAcademy-kakuma-1/home, pull requests merged in 2022-02, with the labels that each got.

#218 :art: add
  vocabulary/JS_Vocab_Contribution/Erickaloise-contribution.md
Labels: vocabulary, deliverables/Vocabulary

#214 achiek's Js vocabuaries
  vocabulary/JS_Vocab_Contribution/achiek.md
Labels: deliverables/Vocabulary

#213 :accept: Or Check it
  vocabulary/JS_Vocab_Contribution/Elie.md
Labels: deliverables/Vocabulary

#207 completed my string vocabularies
  vocabulary/JS_Vocab_Contribution/abriJS-Vocabulary.md
Labels: vocabulary, deliverables/Vocabulary

#208 Javascript Vocab
  .vscode/settings.json
  vocabulary/JS_Vocab_Contribution/faiso.md
Labels: deliverables, vocabulary

#209 Update javascript vocabularies
  vocabulary/JS_Vocab_Contribution/Samuel.md
Labels: deliverables, vocabulary

#210 Javascript vocabulary
  vocabulary/JS_Vocab_Contribution/aljabana.md
Labels: deliverables/Vocabulary

#211 :art: contributing to java_vocab
  vocabulary/JS_Vocab_Contribution/Lotiang.md
Labels: deliverables/Vocabulary

#212 Create baballa.md
  vocabulary/JS_Vocab_Contribution/baballa.md
Labels: deliverables/Vocabulary

#262 ahmed.debugging/vocabulary
  vocabulary/debugging-vocabularies/AHMED.md
  vocabulary/debugging-vocabularies/ahmeda.md
Labels: deliverables/Vocabulary

#248 👍;package.debugging
  vocabulary/debugging-vocabularies/babikir.md
Labels: deliverables/Vocabulary

#249 :art: update.debugging.vocab
  vocabulary/debugging-vocabularies/lotiang.md
Labels: deliverables/Vocabulary

#246 :+1:
  vocabulary/Achieko.md
Labels: deliverables/Vocabulary

#252 "Debugger " with Console.log( By Kambale Kibeho
  vocabulary/debugging-vocabularies/Dessai-Kibeho.md
Labels: vocabulary, vocabulary/debugging

#255 Erick daily report
  vocabulary/debugging-vocabularies/Aloise.md
Labels: deliverables/Vocabulary

#250 👌vocab of uncaught reference error
  vocabulary/debugging-vocabularies/aljabana.md
Labels: deliverables/Vocabulary

#259 :art: update debugging voc.md
  vocabulary/debugging-vocabularies/paul.md
Labels: deliverables/Vocabulary

#256 add debugging vocab
  vocabulary/debugging-vocabularies/fatumoshukri.md
Labels: deliverables, vocabulary

#257 Completed JavaScript debugging vocabularies
  vocabulary/debugging-vocabularies/AbriYusif.md
Labels: deliverables/Vocabulary

#265 Vocablulary-Hoisting
  vocabulary/debugging-vocabularies/faiso.md
Labels: deliverables, vocabulary

#253 :+1: debug
  vocabulary/debugging-vocabularies/Elb.md
  vocabulary/debugging-vocabularies/ElieBavon.md
Labels: deliverables/Vocabulary

#251 :+1: for...of arrays
  .history/vocabulary/debugging-vocabularies/mahdi-debugg_20220227233831.md
  vocabulary/debugging-vocabularies/mahdi-debugg.md
Labels: deliverables/Vocabulary

#206 shukri js vocabulary
  vocabulary/JS_Vocab_Contribution/fatma.md
Labels: deliverables, vocabulary

#245 update
  vocabulary/JS_Vocab_Contribution/erick-snippest/index.html
  vocabulary/JS_Vocab_Contribution/erick-snippest/script.js
  vocabulary/JS_Vocab_Contribution/erick-snippest/style.css
Labels: deliverables

#243 Achiek-snippets
  snippets/index.html
  snippets/script.js
  snippets/styles.css
Labels: deliverables/Vocabulary

#240 :+1: this is Mahdi's contributions
  .history/snippets/welcome-to-js/Mahdi-snippet-js/mahdi_20220217000356.html
  .history/snippets/welcome-to-js/Mahdi-snippet-js/script_20220217000420.js
  .history/snippets/welcome-to-js/Mahdi-snippet-js/style_20220217000423.css
  snippets/welcome-to-js/Mahdi-snippet-js/mahdi.html
  snippets/welcome-to-js/Mahdi-snippet-js/script.js
  snippets/welcome-to-js/Mahdi-snippet-js/style.css
Labels: deliverables/Vocabulary

#238 committing my snippet js
  snippets/welcome-to-js/christyochala/index.html
  snippets/welcome-to-js/christyochala/script.js
  snippets/welcome-to-js/christyochala/style.css
  vocabulary/JS_Vocab_Contribution/ochalla.md
Labels: deliverables/Vocabulary

#222 Paulcontribute voc
  vocabulary/JS_Vocab_Contribution/paul.md
Labels: deliverables/Vocabulary

#236 add js snippet
  snippets/welcome-to-js/shukri-Ibrahim/index.html
  snippets/welcome-to-js/shukri-Ibrahim/script.js
  snippets/welcome-to-js/shukri-Ibrahim/style.css
Labels: deliverables, Snippet

#237 added javascript vocabulary
  .vscode/settings.json
  snippets/welcome-to-js/aljabana/index.html
  snippets/welcome-to-js/aljabana/script.js
  snippets/welcome-to-js/aljabana/style.css
Labels: deliverables/Vocabulary

#235 Abri welcome to js snippets
  snippets/welcome-to-js/Abri/index.html
  snippets/welcome-to-js/Abri/script.js
  snippets/welcome-to-js/Abri/style.css
Labels: deliverables/Vocabulary

#234 :art: update.snipet
  snippets/welcome-to-js/Lotiang/index.html
  snippets/welcome-to-js/Lotiang/index.js
  snippets/welcome-to-js/Lotiang/style.css
Labels: deliverables/Vocabulary

#233 Paul.snippets
  snippets/welcome-to-js/paul.snippets/index.html
  snippets/welcome-to-js/paul.snippets/style.css
  snippets/welcome-to-js/paul.snippets/variables.js
Labels: Snippet

#230 :file how to read codes
  snippets/welcome-to-js/Franco/index.html
  snippets/welcome-to-js/Franco/index.js
  vocabulary/JS_Vocab_Contribution/franco.md
Labels: deliverables/Vocabulary

#227 Create ochalla.md
  vocabulary/JS_Vocab_Contribution/ochalla.md
Labels: deliverables, vocabulary

#223 vocabulary of javascript
  vocabulary/JS_Vocab_Contribution/ahmed.md
Labels: deliverables/Vocabulary

#225 💻💻 javascript vocabularies
  vocabulary/JS_Vocab_Contribution/chuol.md
Labels: deliverables, vocabulary

#224 :art: java-script commite
  vocabulary/JS_Vocab_Contribution/MAhdi'scont.md
Labels: deliverables/Vocabulary

#170 Definition of ui/ux terms
  vocabulary/UI-UX.md
Labels: deliverables/Vocabulary

#174 Done with my vocabularies
  vocabulary/UI-UX.md
Labels: deliverables/Vocabulary

#171 my ui/ux vocabulary words
  vocabulary/UI-UX.md
Labels: deliverables, vocabulary

#173 my vocabulary
  vocabulary/UI-UX.md
Labels: deliverables/Vocabulary

#175 my vocabularies words
  vocabulary/UI-UX.md
Labels: deliverables/Vocabulary

#177 Achiek branch
  vocabulary/UI-UX.md
Labels: deliverables/Vocabulary

#176 Update UX/UI Design vocabulary
  vocabulary/UI-UX.md
Labels: deliverables/Vocabulary

#178 update work for ux-ui design
  vocabulary/UI-UX.md
Labels: deliverables/Vocabulary

#179 UI-UX vocabulary
  vocabulary/UI-UX.md
Labels: deliverables/Vocabulary

#180 My-Vocabylary-KdessaiK
  vocabulary/UI-UX.md
Labels: deliverables/Vocabulary

#181 update
  vocabulary/UI-UX.md
Labels: deliverables/Vocabulary

#182 update UI-UX .md
  vocabulary/UI-UX.md
Labels: deliverables/Vocabulary

#188 snippet folder updated
  snippets/index.html
  snippets/styles.css
  snippets/ui.jpg
  ui.jpg
Labels: deliverables/Vocabulary

#192 add snippet
  snippets/index.html
  snippets/shukri mohamed.jpg
  snippets/style.css
Labels: deliverables, Snippet

#200 Sun's System
  snippets/image/back.jpg
  snippets/image/back1.png
  snippets/image/df.jpg
  snippets/image/moonDance.png
  snippets/image/soleil2.png
  snippets/index.HTML
  snippets/style.css
Labels: deliverables, Snippet

#199 update snippet
  snippets/index.html
Labels: deliverables/Vocabulary, Snippet

#195 Done with loading animation around the image
  snippets/abri.jpg
  snippets/animation.css
  snippets/animation.html
Labels: deliverables, Snippet

#196 Snippet UI/UX
  snippets/Index.html
  snippets/beach img.jpg
  snippets/flower 1.jpg
  snippets/style.css
Labels: deliverables, Snippet
